body {
  margin: 0;
  background-color: #000539;
  background-image: url('img/bg-static.jpg');
  background-size: cover;
  background-attachment: fixed;
  color: white;
}

.content {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
  text-align: center;
  font-weight: normal;
  width: 100%;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 16px;
}

a {
  color: yellow;
  text-decoration: none;
}

.btn {
  padding: 10px;
  border: 2px solid white;
  cursor: pointer;
  display: inline-block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn:hover {
  background: white;
  color: #000539;
}

.share-btn {
  list-style-type: none;
  padding: 0;
}

.share-btn li {
  display: inline;
}

#app {
  background: rgba(4, 13, 84, 0.8);
  outline-style: solid;
  outline-color: rgba(4, 13, 84, 0.5);
  outline-width: 16px;
}
